<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fish Successfully Added</title>
</head>
<body>
    <% if (quantity == 1) { %>
        <%= quantity %> <%= variety %> was successfully added to <%= aquarium.name %>.
    <% } else { %>
        <%= quantity %> <%= variety %> were successfully added to <%= aquarium.name %>.
    <% } %>
    <a href="/">Back to Homepage</a>
</body>
</html>